// =====================================
//
//   Colors Definitions from Company
//
// =====================================
 
 

$red : #e20d00;

$grey : #414141;

$blue : #2f82c4;

$orange : #f18712;

$light_blue : #98bfe4;